#discuss-main{
   box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);;
}

#discuss-main .discuss-bold{
    font-weight: 600;
    font-size: 15px;
    color: rgba(52, 57, 72, 1);
}

#discuss-main .discuss-light{
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.81);
    letter-spacing: 0.03em;
    margin-top: 0.3rem;
}

.discuss-btn{
    padding: 0px;
    font-size: 0.7rem;
}
#get-help-btn{
    padding: 5px;
    width: 70%;
}

#discuss-answer-btn, #discuss-share-btn, #discuss-bookmark-btn{
    border: none;
    background-color: #fff;
    color: rgba(130, 130, 130, 1);
}
.discuss-cmt-main{
    background-color: #F2F2F2;
    border: 1px solid #C7C8CA;
}

.discuss-cmt-main .btn-link{
    text-decoration: none;
    color:rgba(79, 79, 79, 1);
    font-size: 13px;
    font-weight: 400;
}

.discuss-cmt-main .btn-link:hover{
    color: black;
}

#discuss-profile img{
    width: 35px;
    height: 35px;
}

#discuss-profile h5{
    font-size: 13px;
}

#discuss-profile .profile-name{
    font-weight: 600;
}