#menu-main .btn {
    color: rgba(99, 100, 102, 1);
    border-radius: 0px;
}

#menu-main .active {
    background-color: rgba(219, 224, 239, 1);
    padding: 10px;
    border-left: 15px solid rgba(56, 92, 200, 1);
}