* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(238, 245, 252, 0.82);
}

em {
    color: red;
}


/* logo styles */

.container-fluid .img {
    width: 245px;
    margin: auto;
}


/* banner style */

#banner {
    position: absolute;
    left: 26%;
    top: 11%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    color: #29428E;
}


/* Illustration styles */

.row img {
    width: 70%;
    position: relative;
    align-content: center;
    left: 10%;
}


/* btn inside form */


/* form styles */

::placeholder {
    font-size: small;
}

#t2 {
    position: relative;
    width: 174px;
    height: 0;
    left: 0;
    top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #29428E;
}

#t3 {
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    top: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #5F6377;
}

.form-ap {
    font-family: 'Inter', sans-serif;
    padding: 32px;
    background-color: #fff;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    top: 20%
}

form p,
a {
    margin-top: 1em;
    font-size: 13px;
}

form p {
    color: #9E9C9C;
}

label {
    font-weight: 700;
    color: #5F6377;
    margin-bottom: 4px;
    margin-top: 12%;
}

input {
    font-size: 14px;
}

.form-check label {
    font-size: 15px;
    font-weight: 400;
    color: #9E9C9C;
}

.form-check a {
    color: #9E9C9C;
}

form #login-2 {
    background-color: #385CC8;
    width: 100%;
    height: 50px;
}


/* icons styles */

.icons-btn i {
    font-size: 35px;
}

.icons-btn button {
    background-color: #fff;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    border-radius: 40%;
    border: none;
}